{% extends 'layout.html.twig' %}

{% block content %}
	<section class="bg-dark py-5">
		<div class="container px-5 my-5">
			<table class="table table-dark">
			<thead>
				<tr>
				<th scope="col">Id</th>
				<th scope="col">Payload</th>
				<th scope="col">Create At</th>
				<th scope="col">Modify At</th>
				<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody id="tableBody">
			</tbody>
			</table>

			<nav aria-label="Page navigation example" class="py-5">
			<ul class="pagination justify-content-center" id="pagination">
				<li class="page-item disabled"><a class="page-link bg-dark link-light" href="#">Previous</a></li>
				<li class="page-item active"><a class="page-link bg-dark link-light" href="#">1</a></li>
				<li class="page-item disabled"><a class="page-link bg-dark link-light" href="#">Next</a></li>
			</ul>
			</nav>

		</div>
	</section>
	
<div class="modal fade" id="documentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="documentModalTitle"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="documentModalBody">
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
